.top-menu{
	display: inline-block;
	font-family: arial, sans-serif;
	float: right;
	padding: 2px;
}

.nounderline{
	text-decoration: none;
}

.footer-right{
	float: left;
	padding: left 15px;
	display: inline-block;
}